.git
.gitignore
.next
node_modules
coverage
.env
.env.local
.env.*.local
.vscode
.idea
README.md
docs/
**/*.md
__tests__
playwright-report
test-results
.github
supabase/.temp
Dockerfile
docker-compose.yml
